@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(9 9 11);
  color: rgb(244 244 245);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}